body {
  font-family: "lato", sans-serif;
  -webkit-font-smoothing: "antialiased";
  color: #232323;
}

nav li:last-child a {
  transition: all 0.3s ease-in-out;
  background-color: #fe5f1e;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

section .hero {
  background-color: #f8f8f8;
}

.size {
  background-color: #f8f8f8;
}

.add-to-cart {
  transition: all 0.3s ease-in-out;
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
}
.add-to-cart:hover {
  background-color: #fe5f1e;
  color: #fff;
  border-color: #fff;
}

.btn-primary {
  transition: all 0.3s ease-in-out;
  background-color: #fe5f1e;
}
.btn-primary:hover {
  background: #b23301;
}

section .cart {
  background: #f8f8f8;
}

.amount {
  color: #fe5f1e;
}

section .login {
  min-height: calc(100vh - 90px);
}
