@import'./_varibals.scss';
@import'~noty/src/noty.scss';
@import'~noty/src/themes/mint.scss';

body{
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: "antialiased";
     color: $dark;
}
nav li:last-child a {
    transition: $smooth;
    &:hover{
        background-color: $primary-hover;
    }
    background-color: $primary;

}

nav li a {
    transition: $smooth ;
    &:hover{
        color: $primary;
    }
}

section .hero{
    background-color: $secondary;
}

.size{
    background-color: $secondary;
}
.add-to-cart{
    transition: $smooth;
    border: 2px solid $primary;
    color: $primary;
    &:hover{
        background-color: $primary;
        color: $pure;
        border-color: $pure;
    }
}

.btn-primary{
    transition: $smooth;
    background-color: $primary;
    &:hover{
         background: $primary-hover;
    }
}

section .cart{
    background: $secondary;

}

.amount{
    color: $primary;
}

section .login{
    min-height: calc(100vh - 90px) ;
}

.noty_theme_mint{
  border-radius: 50px !important;
  padding-left: 8px !important;
}